<div id="menu">
    <ul>
        {{ if .Site.Params.nav.home }}
        <li class="active"><a href="#" accesskey="1" title="">{{ with .Site.Params.nav.home }}{{ . | markdownify }}{{ end }}</a></li>
        {{ end }}
        {{ if .Site.Params.culture.enable }}
        <li><a href="#culture" accesskey="2" title="">{{ with .Site.Params.nav.culture }}{{ . | markdownify }}{{ end }}</a></li>
        {{ end }}
        {{ if .Site.Params.hiring.enable }}
        <li><a href="#hiring" accesskey="3" title="">{{ with .Site.Params.nav.hiring }}{{ . | markdownify }}{{ end }}</a></li>
        {{ end }} 
        {{ if .Site.Params.contact.enable }}
        <li><a href="#copyright" accesskey="4" title="">{{ with .Site.Params.nav.contact }}{{ . | markdownify }}{{ end }}</a></li>
        {{ end }}
    </ul>
</div>
      